net "clk" loc = "p76";
net "rst" loc = "p108";
net "display_reg[0]" loc = "p139"; 
net "display_reg[1]" loc = "p140"; 
net "display_reg[2]" loc = "p137"; 
net "display_reg[3]" loc = "p138"; 
net "display_reg[4]" loc = "p133"; 
net "display_reg[5]" loc = "p135"; 
net "display_reg[6]" loc = "p131"; 
net "display_reg[7]" loc = "p132"; 
net "display_reg[8]" loc = "p149"; 
net "display_reg[9]" loc = "p150"; 
net "display_reg[10]" loc = "p147"; 
net "display_reg[11]" loc = "p148"; 
net "display_reg[12]" loc = "p144"; 
net "display_reg[13]" loc = "p146"; 
net "display_reg[14]" loc = "p141"; 
net "display_reg[15]" loc = "p143"; 
net "display_reg[16]" loc = "p181"; 
net "display_reg[17]" loc = "p176"; 
net "display_reg[18]" loc = "p172"; 
net "display_reg[19]" loc = "p175"; 
net "display_reg[20]" loc = "p169"; 
net "display_reg[21]" loc = "p168"; 
net "display_reg[22]" loc = "p167"; 
net "display_reg[23]" loc = "p171"; 
net "display_reg[24]" loc = "p165"; 
net "display_reg[25]" loc = "p166"; 
net "display_reg[26]" loc = "p161"; 
net "display_reg[27]" loc = "p162"; 
net "display_reg[28]" loc = "p155"; 
net "display_reg[29]" loc = "p156"; 
net "display_reg[30]" loc = "p152"; 
net "display_reg[31]" loc = "p154";